
/* Css Preset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  }

  html,body {
    width : 100%;
    height : 100%;
  }


  /* Main style */
div.page{
  width: 100%;
  min-height: 100%;
  
  background-color: rgba(0, 0, 0, 0.43);
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

div.newsletter{
    width: 710px;
    max-width: 95%;
    min-height: 459px;

    padding: 20px 48px 32px 48px;
    margin : auto;

    border-radius: 8px;
    background-color: #ffffff;  

    position: relative;
  }

 .newsletter button.btn-close{
    width: 24px;
    height: 24px;

    position: absolute;
    border: none;
    top: 20px;
    right: 20px;

    object-fit: contain;
 }

div.newsletter-img {
    height: 147px;
    width: 247px;

    margin: 24px auto;
    object-fit: contain;
}

.newsletter h1.subscribe_to_our_new {
    width: 100%;
    min-height: 42px;

    margin: 16px auto 10px ;

    font-family: Roboto;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #0082c3;
  }

  .newsletter p.sign_up_to_our_newsl {
    width: 100%;

    text-align: center;
    margin: 10px auto 24px;
    font-family: Roboto;
    font-size: 16px;
    font-stretch: condensed;
    color: #1a171b;
  }

  .newsletter div.newsletter-form_box
  {
      width: 420px;
      max-width: 86.2%;
      margin: 24px auto 0px auto;
}

form.newsletter-form{
    width: 100%;
}

  .newsletter-form_box div.newsletter-email-box{
      width: 100%;
      height: 40px;

      padding: 12px 16px;
      border: solid 1px #cbcbcb;
      border-radius: 3px;
      margin-top: 24px;
  }

  .newsletter-form input[type='email']{
    width: 100%;
    height: 100% ;

    border: none;
}

.newsletter-form input[type='button']{
    width: 100%;
    height: 40px;

    margin-top:24px;
    background-color: rgb(255, 214, 80);
    font-weight: bold;
    border: none;
}
.newsletter-form input[type='email']:focus{
    outline: none;
  }

footer p {
    width: 100%;
    height: 11px;
    
    margin: 10px auto 0 auto;

    font-family: Roboto;
    font-size: 10px;
    font-stretch: condensed;
    text-align: center;
    color: #787878;
}
/* - End of main style */


/* Screeen size between 320px - 590px
Resize header and subheader font size */
@media only screen and (max-width: 590px){
    .newsletter h1.subscribe_to_our_new {
        font-size: 24px;   
      }
    
      .newsletter p.sign_up_to_our_newsl {
        font-size: 14px;  
      }

}

/* Screen size less 320px */
@media only screen and (max-width: 320px){    
    div.page{
        width: 100%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    div.newsletter{
        width: 290px;
        height: 407px;
        padding: 0 16px;
    }

    .newsletter button.btn-close{
        top:16px;
        right: 16px;
    }

    div.newsletter-img {
        height: 21.37%;
        width: 168;

        max-width: 80%;
        margin: 24px auto;
    }

    
.newsletter h1.subscribe_to_our_new {
    width: 100%;
    margin: 16px auto 0px auto;

    font-family: Roboto;
    font-size: 20px;
    
  }

  .newsletter p.sign_up_to_our_newsl {
    width: 100%;

    text-align: center;
    margin: 10px auto 0;

    font-family: Roboto;
    font-size: 14px;
    
  }

  .newsletter div.newsletter-form_box
  {
      width: 250px;
      max-width: 100%;
      margin: 14px auto 0px;

      display: flex;
      align-content: center;
      align-items: center;
}

  .newsletter-form_box div.newsletter-email-box{
      width: 250px;
      max-width: 96%;
      height: 40px;

      padding: 12px 16px;
  }

  .newsletter-form input[type='email']{
    width: 218px;
    max-width: 96%;
    height: 16px ;
}

.newsletter-form input[type='button']{
    width: 250px;
    max-width: 96%;
    height: 40px;

    margin-top:24px;
    
}


footer p {
    width: 100%;
    height: 11px;
    
    margin: 10px auto 0 auto;
}
    
}
